<%= simple_form_for @party do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">
    <div class="form-group">
      <%= f.input :name, class: "form-control", placeholder: "Enter Name" %>       
    </div>
    <div class="form-group">
      <%= f.input :owner, class: "form-control", placeholder: "Enter Owner Name" %>  
    </div>
    <div class="form-group">
    <%# <div> %>
      <%= f.input :date, disabled: true, :as => :date_picker, placeholder: "Enter Date" %>  
    </div>
    <div class="form-group">
    <%# <div> %>
      <%= f.input :time, label: "Start time", disabled: true, :as => :time_picker, placeholder: "Enter Time" %>  
    </div>
    <div class="form-group">
      <%= f.input :location, class: "form-control", placeholder: "Enter Location" %>  
    </div>
    <div class="form-group">
      <%= f.input :description, class: "form-control", placeholder: "Enter Description" %>  
    </div>
    <div class="form-group">
      <%= f.input :participants, class: "form-control", placeholder: "Enter Participants" %>  
    </div>

      <%= f.button :submit, class: "btn btn-default" %>  
      <%= link_to 'Back', parties_path, :class => "btn btn-default" %>
    <% end %>
  </form>
