<%= simple_form_for @party do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">
    <div class="form-group">
      <%= f.input :name, class: "form-control", placeholder: "Enter Party Name" %>       
    </div>
    <div class="form-group">
      <%# <%= f.input :owner, class: "form-control", placeholder: current_user.name.to_s %1> %>  
      <%= f.input :owner, class: "form-control", input_html: {value: current_user.name.to_s} %>  
    </div>
    <div class="form-group">
    <%# <div> %>
      <%# <%= f.input :date, :as => :date_picker, placeholder: "Enter Date" %1> %>  
      <%= f.input :date, label: "Date",  :as => :date_picker, input_html: {value: Date.today.strftime("%d/%m/%Y")} %>  
    </div>
    <div class="form-group">
    <%# <div> %>
      <%# <%= f.input :time, label: "Start time", :as => :time_picker, placeholder: "Enter Time" %1> %>  
      <%= f.input :time, label: "Start time", :as => :time_picker, input_html: {value: Time.now.strftime("%H:%M")} %>  
    </div>
    <div class="form-group">
      <%= f.input :location, class: "form-control", placeholder: "Enter Location" %>  
    </div>
    <div class="form-group">
      <%= f.input :description, class: "form-control", placeholder: "Enter Description" %>  
    </div>
    <div class="form-group">
      <!--Should autoadd the owner ass a participant and then be able to chose freinds(other users) from a list , name of owner: current_user.name.to_s-->
      <%# <%= f.input :participants, class: "form-control", placeholder: "Enter Participants" %1> %>
      <%= f.input :participants, class: "form-control", collection: User.all, placeholder: "Enter Participants" %>
    </div>
    <div class="form-group">
      <%= f.input :latitude, class: "form-control", placeholder: "enter latitude" %>
    </div>
    <div class="form-group">
      <%= f.input :longitude, class: "form-control", placeholder: "Enter longitude" %>
    </div>


      <%= f.button :submit, class: "btn btn-default" %>  
      <%= link_to 'Back', parties_path, :class => "btn btn-default" %>
    <% end %>
  </form>
