<h1>Listing parties</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>Location</th>
        <th>Description</th>
        <th>Participants</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <% current = DateTime.now %>
    <% seconds=current.to_i%>
  
    <tbody>
      <%= will_paginate @parties  %>
      <% @parties.each do |party| %> 
      <% cache(party) do %>
        <%  dt = DateTime.new(party.date.year, party.date.month, party.date.day, party.time.hour, party.time.min, party.time.sec, party.date.zone)
        %>
        <tr>
          <td><%= party.name %></td>
          <%# <td><%= party.owner %1></td> %>
          <%# It is too slow to link profile here. %>
          <%# <td><%= link_to party.owner, profile_path(User.find_by_name(party.owner).profile.id) %1></td> %>
          <% partyowner = JoinMember.where(party_id: party.id, status: 4).first.user_id %>
          <td><%= link_to party.owner, profile_path(partyowner) %></td>
          <%# <td><%= party.date.strftime("%Y-%m-%d") %1></td> %>
          <td><%= party.date.strftime("%Y-%m-%d") %></td>
          <td><%= party.time.strftime("%H:%M") %></td>
          <td><%= party.location %></td>
          <td><%= party.description %></td>
          <td><%#= User.find(party.participants).name %></td>
          <td><%= link_to 'Show', party, class: 'btn btn-info btn-sm' %></td>
          <% if user_signed_in? %>
              <% if partyowner == current_user.id %>
                  <td><%= link_to 'Edit', edit_party_path(party), class: 'btn btn-warning btn-sm' %></td>
                  <td><%= link_to 'Destroy', party, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                  <% if !current_user.join_members.find_by_party_id(party.id) %>
                      <%# current user is not in this party, then we show join. %>

                      <% if dt.to_i>seconds %>
   
                      <td><%= button_to 'Join', join_members_path(user_id: current_user.id, party_id: party.id), class: 'btn btn-warning btn-sm' %></td>

                      <%end%>
                  <% elsif current_user.join_members.find_by_party_id(party.id).status == 0  %>
                      <%# current user has joined in this party, but still waiting. %>
                      <td><button type="button" class="btn btn-warning btn-sm" disabled="disable">Pending</button></td>
                  <% elsif current_user.join_members.find_by_party_id(party.id).status == 1  %>
                      <%# current user has been invited to this party. %> 
                      <td><button type="button" class="btn btn-info btn-sm" disabled="disable">Invited</button></td>
                  <% elsif current_user.join_members.find_by_party_id(party.id).status == 2  %>
                      <%# current user has been accepted to this party. %> 
                      <td><button type="button" class="btn btn-success btn-sm" disabled="disable">Accepted</button></td>
                  <% elsif current_user.join_members.find_by_party_id(party.id).status == 3  %>
                      <%# current user has been rejected to this party. %> 
                      <td><button type="button" class="btn btn-danger btn-sm" disabled="disable">Rejected</button></td>
                  <% end %>

              <% end %>
          <% end %>
        </tr>
      <% end %>
  <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Party', new_party_path, class: 'btn btn-success btn-sm' %>
