<h1 id="invites">Do your want to invite someone?</h1>



<%= form_tag invitetoparty_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search for people", :name => nil %>
   
  </p>
<% end %>

<% 
 related = JoinMember.where party_id: @party.id
 prel= related.pluck(:user_id)
 prel.push(current_user.id)
 
 @inviteusers = User.where('id not in (?)', prel)
 @inviteusers = @inviteusers.search(params[:search]) if params[:search].present?
 @inviteusers = @inviteusers.paginate(:page => params[:page], :per_page => 20)


 %>

 

<div class="table-responsive">
  <table class="table table-striped">
    <thead>

      <tr>
        <th>Name</th>
        
        
        <th>Invite</th>
       
      </tr>
    </thead>

    <tbody>
      <%= will_paginate @inviteusers %>
      <% @inviteusers.each do |u| %>
      <% cache(u) do %>
      <tr>
      <td><%=u.name%></td>
      
      <td><%= button_to 'Invite',{ :controller => :join_members, :action => 'createasinvite', :user_id => u.id, :party_id => @party.id}, class: 'btn btn-success' %></td>
      </tr>
      <%end%>
      <% end %>

      </tbody>
  </table>
</div>
