<h1>Requests</h1>

<% status_all = ["Pending", "Invited", "Accepted", "Rejected"] %>

<h4>Requests by other users</h4>
<%# This table shows all the requests the current user get. %>
<%# Notice that these requests are sent by other users. %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Party Name</th>
        <th>User</th>
        <th>Message</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
	
    <tbody>
      <% @parties = Party.where(owner: current_user.name) %>
      <% @parties.each do |party| %>
        <% @requests = party.join_members.pluck(:user_id) %>
        <% @requests.each do |request| %>
        <tr>
          <td><%= party.name %></td>
          <td><%= User.find(request).name %></td>
          <td><%= User.find(request).name%> wants to join this party: <%= party.name%></td>
          <td><%= status_all[party.join_members.find_by_user_id(request).status] %></td>
          <% if party.join_members.find_by_user_id(request).status == 0 %>
            <td><%= button_to 'Accept', { :controller => :join_members, :action => 'accept', :user_id => request, :party_id => party.id}, class: 'btn btn-success btn-sm' %></td>
            <td><%= button_to 'Reject', { :controller => :join_members, :action => 'reject', :user_id => request, :party_id => party.id}, class: 'btn btn-danger btn-sm' %></td>
          <% else %>
            <td><%= link_to 'Edit', edit_join_member_path(party.join_members.find_by_user_id(request)), class: 'btn btn-info btn-sm' %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<h4>Requests by me</h4>
<%# This table shows all the requests the current user sends. %>
<%# Notice that these requests are sent by current user. %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Party Name</th>
        <th>Owner</th>
        <th>Location</th>
        <th>Time</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
	
    <tbody>
      <% @party_ids = JoinMember.where(user_id: current_user.id).pluck(:party_id) %>
      <% @party_ids.each do |party_id| %>
      <% party = Party.find(party_id) %>
        <tr>
          <td><%= party.name %></td>
          <td><%= party.owner %></td>
          <td><%= party.location %></td>
          <td><%= party.time %></td>
          <td><%= status_all[JoinMember.find_by(user_id: current_user.id, party_id: party_id).status] %></td>
          <td><%= link_to 'Remove', JoinMember.find_by(user_id: current_user.id, party_id: party_id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Party', new_party_path, class: 'btn btn-success btn-sm' %>
