<%# <p id="notice"><%= notice %1></p> %>

<%# <div class="jumbotron"> %>

<h1>Party info</h1>
<div>
<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>
    
<p>
  <strong>Owner:</strong>
  <%= @party.owner %>
</p>

<p>
  <strong>Date:</strong>
  <%= @party.date.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @party.time.strftime("%H:%M") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @party.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @party.description %>
</p>

<!--<p>
  <strong>Participants:</strong>
  <%#= User.find(@party.participants).name %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @party.longitude %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @party.latitude %>
</p>
</div>-->

<div class="btn-group">
    <%= link_to 'Edit', edit_party_path(@party), :class => "btn btn-default" %> 
</div>
    
<div class="btn-group">
    <%= link_to 'Back', parties_path, :class => "btn btn-default" %>
</div>

<%= link_to 'Invite People', myparties_path, class: 'btn btn-success btn-sm' %>


<% related = JoinMember.where(party_id: @party.id)

p 'this is related'
p related

%>

<h2>These Awesome people are coming:</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>

      <tr>
        <th>Name</th>
        
        
        <th>Comment ?</th>
       
      </tr>
    </thead>

<tbody>
<%related.each do |r|
  
  if (r.status == 2)%>

    <tr>
    <td>
       <%=@users.find(r.user_id).name %>

       </td>
  </tr>
 <%

end
end%>

  

</tobdy>
    </table>
    </div>





