<%# <p id="notice"><%= notice %1></p> %>

<div class="jumbotron">
<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>
    
<p>
  <strong>Owner:</strong>
  <%= @party.owner %>
</p>

<p>
  <strong>Time:</strong>
  <%= @party.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @party.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @party.description %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @party.participants %>
</p>
</div>

<div class="btn-group">
    <%= link_to 'Edit', edit_party_path(@party), :class => "btn btn-default" %>
    <%= link_to 'Back', parties_path, :class => "btn btn-default" %>
</div>
