<%# <p id="notice"><%= notice %1></p> %>

<div class="jumbotron">
<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>
    
<p>
  <strong>Owner:</strong>
  <%= @party.owner %>
</p>

<p>
  <strong>Date:</strong>
  <%= @party.date.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @party.time.strftime("%H:%M") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @party.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @party.description %>
</p>

<!--<p>
  <strong>Participants:</strong>
  <%#= User.find(@party.participants).name %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @party.longitude %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @party.latitude %>
</p>
</div>-->

<div class="btn-group">
    <%= link_to 'Edit', edit_party_path(@party), :class => "btn btn-default" %> 
</div>
    
<div class="btn-group">
    <%= link_to 'Back', parties_path, :class => "btn btn-default" %>
</div>
<br><br><br><br>
<h1 id="invites">Do your want to invite someone?</h1>

<% p 'before'
 related = JoinMember.where party_id: @party.id
 prel= related.pluck(:user_id)
 prel.push(current_user.id)
 
@currentusers=[]
 @users.each do |u|

  if !prel.include?(u.id)
    p 'found '
    p u.id


    @currentusers.push(u)

  end
  
end
p 'after'

 %>



<div class="table-responsive">
  <table class="table table-striped">
    <thead>

      <tr>
        <th>Name</th>
        
        
        <th>Invite</th>
       
      </tr>
    </thead>

    <tbody>

      <% @currentusers.each do |u| %>
      <tr>
      <td><%=u.name%></td>
      
      <td><%= button_to 'Invite',{ :controller => :join_members, :action => 'createasinvite', :user_id => u.id, :party_id => @party.id}, class: 'btn btn-success' %></td>
      </tr>
      <%end%>

      </tbody>
  </table>
</div>



