<%= simple_form_for @profile, :url => profiles_path, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.file_field :p_image %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender %>
    <%= f.input :age %>
    <%= f.input :description %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>