<% cache([current_user, @profile]) do %>
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @profile.p_image.url(:medium) if @profile.p_image.present? %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<%# <p> %>
  <%# <strong>User:</strong> %>
  <%# <%= @profile.user %1> %>
<%# </p> %>
<%# <%= link_to 'Edit', edit_profile_path(@profile) %1> %> 

<%# <% if (user_signed_in?) %1> %>
  <%# <%= link_to 'Edit', edit_profile_path(@profile) %1> %> 
<%# <% end %1> %>

<% if (user_signed_in?) && (current_user.id == @profile.id) %>
    <%= link_to 'Edit', edit_profile_path(@profile) %> 
<% end %>
<%# <%= link_to 'Edit', edit_profile_path(@profile) %1> | %>
<%# <%= link_to 'Back', profiles_path %1> %>
<% end %>
