<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<%# <p> %>
  <%# <strong>User:</strong> %>
  <%# <%= @profile.user %1> %>
<%# </p> %>

<%= link_to 'Edit', edit_profile_path(@profile) %> 
<%# <%= link_to 'Edit', edit_profile_path(@profile) %1> | %>
<%# <%= link_to 'Back', profiles_path %1> %>
