<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @join_member.user %>
</p>

<p>
  <strong>Party:</strong>
  <%= @join_member.party %>
</p>

<%= link_to 'Edit', edit_join_member_path(@join_member) %> |
<%= link_to 'Back', join_members_path %>
