<p id="notice"><%= notice %></p>

<h2>You have <strong>invited</strong> <%= User.find(@join_member.user_id).name %> 
<br> to your <strong>party </strong> <%= Party.find(@join_member.party_id).name %> </h2>

<p>
  <strong>User:</strong>
  <%= User.find(@join_member.user_id).name %>
</p>

<p>
  <strong>Party:</strong>
  <%= Party.find(@join_member.party_id).name %>
</p>

<%= link_to 'Edit', edit_join_member_path(@join_member) %> |
<%= link_to 'Back', parties_path %>
