<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%# <%= link_to 'Xup', root_path, class: 'navbar-brand' %1> %>
        <a class="navbar-brand" href="/">Xup</a>
      </div>
      <div class="collapse navbar-collapse">
        <!-- unorderd list Left hand side -->
        <ul class="pull-left">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="/index">Home</a></li> -->
                 <li id="nav-home"><a href="/new">Host party</a></li>
                 <li id="nav-home"><a href="/index">Index</a></li> 
                <li id="nav-find"><a href="/upcoming">Upcoming Parties</a></li>
                <li id="nav-browse"><a href="/past">Past Parties</a></li>


            </ul>
        </ul>
        <!-- unorderd list right hand side -->
        <ul class="pull-right">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
                 <li id="nav-myAccount"><a href="/myAccount">MyAccount</a></li>
                <li id="nav-logout"><%= link_to 'Log Out', destroy_user_session_path,
                    method: :delete, data: {confirm: 'Are you sure?' }%></li>
            <% else %>
              <li id="nav-login"><%= link_to 'Log In', new_user_session_path %></li>
              <li id="nav-signup"><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
              <%# <li id="nav-login"><a href="/login">Login</a></li> %>   
              <%# <li id="nav-signup"><a href="/signup">Sign Up</a></li> %>
              <%# <li id="nav-logout"><a href="/logout">Logout</a></li> %>
              <li id="nav-about"><a href="/about">About</a></li>
              <li id="nav-help"><a href="/help">Help</a></li>
               <li><a>Parties near:<%=request.location.city%></a></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
