<!DOCTYPE html>
<html>
<head>
  <title>Xup</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>

  <%# This is for maps %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <style>
      #map-canvas {
        height: 300px;
        width: 100%;
        
        padding: 0px;
        margin-left: auto;
        margin-right: auto;

      }
    </style>
</head>

<body>
  <%# <% if user_signed_in? %1> %>
    <%# <%= link_to 'Log Out', destroy_user_session_path, %>
                <%# method: :delete, data: { confirm: 'Are you sure?' } %1> %>
  <%# <% else %1> %>
     <%# <%= link_to 'Log In', new_user_session_path %1> | %>
     <%# <%= link_to 'Sign Up', new_user_registration_path %1> %>
  <%# <% end %1> %>

  <!--The line below inputs the html from _header.html.erb and render it -->
  <%= render 'layouts/header' %>

  <div class ="container"> <!-- this put the html in parties inside this "container" --> 
  	<%= yield %>
  <div>
    
  <%# The two lines below are required by "devise" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
